[data-theme="dark"] {
  --background-color-1: #0b111f;
  --background-color-2: #1e293b;
  --card-background-1: #334155;
  --card-background-2: #111827;
  --text-color: #ffffff;
  --button-color: #686bc4;
  --button-hover: #443eac;
}

[data-theme="light"] {
  --background-color-1: #f1f5f9;
  --background-color-2: #dbeafe;
  --card-background-1: #f6feff;
  --card-background-2: #e2e8f0;
  --text-color: #1e293b;
  --button-color: #3b82f6;
  --button-hover: #1f51bd;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(0deg, var(--background-color-1), var(--background-color-2));
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}